*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(images/bg.jpg);
    background-position: center center;
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px, 1oovw);

}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.67;
    position: absolute;
    top: 0;
    background-color: black;

}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 119px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 17px;
    padding: 0 25px;
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 37px;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 17px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 14px;
}
.seperation{
    height: 4px;
    background-color: rgb(41, 37, 37);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgb(24, 23, 23);
    color: white;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 4px;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 4px 24px;
    font-size: 17px;
    border-radius: 5px;
}
.btn-red-sm{
    background-color: red;
    color: white;

}
.main input{
    padding: 4px 24px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(245, 242, 242, 0.7);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1300px) {
    .first{
        flex-wrap: wrap;
    }
}
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video{
    position: absolute;
    top: 51px;
    right: 0;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :first-child{
    font-size: 40px;
    font-weight: 400;
}
section.first > div :nth-child(2){
    font-size: 18px;
    color: white;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox:hover{
    background-color: rgb(24, 23, 23);
}

.faq{
    background-color: black;
    color: white;
    padding: 24px;
    font-size: 20px;
}
.faqbox{
    transition: all 1s;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 13px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .Questions{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 13px;
}